{% extends 'base.html.twig' %}

{% block title %}Animes - Manga-K{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center mt-3 mb-3">Liste des animés</h1>
        <table class="table table-hover table-striped text-center" id="dataTable">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Animé</th>
                <th scope="col">Durée</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody id="animTable">
            {% for anime in animes %}
                <tr>
                    <td class="align-middle"><img src="{{ anime.image }}" alt=""></td>

                    <td class="text-justify align-middle col-6 pb-3">
                        <h3 class="text-center">{{ anime.name }}</h3>
                        <button class="btn btn-primary btnlg btn-block" type="button" data-toggle="collapse" data-target="#synop{{ loop.index0 }}" aria-expanded="false" aria-controls="synop{{ loop.index0 }}">
                            Voir le synopsis
                        </button>
                        <div class="collapse" id="synop{{ loop.index0 }}">
                            <div class="card card-body">
                                {{ anime.synopsis }}
                            </div>
                        </div>
                    </td>
                    <td class="align-middle">{{ anime.duration }} mn</td>
                    <td class="align-middle">
                        {% if app.user and app.user.roles[0] == 'ROLE_ADMIN'%}
                            <button type="button" class="btn btn-warning" onclick="window.location.href= '{{ path('update_anime', { 'id' : anime.id}) }}'">Modifier</button>
                        {% endif %}
                        <button type="button" class="btn btn-primary mt-3">Regarder</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

