{% extends 'base.html.twig' %}

{% block title %}Animes - Manga-K{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="ml-3 mt-3 col-6">Liste des animés</h1>

        <input class="form-control mt-4 ml-auto mr-4 col-2 text-center" id="animeList" type="text" placeholder="Rechercher">
    </div>


    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Durée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="animTable">
        {% for anime in animes %}
            <tr>
                <td class="align-middle"><img src="{{ anime.image }}" alt=""></td>

                <td class="text-justify align-middle col-6 pb-3">
                    <h3 class="text-center">{{ anime.name }}</h3>
                    <button class="btn btn-primary btnlg btn-block" type="button" data-toggle="collapse" data-target="#synop{{ loop.index0 }}" aria-expanded="false" aria-controls="synop{{ loop.index0 }}">
                        Voir le synopsis
                    </button>
                    <div class="collapse" id="synop{{ loop.index0 }}">
                        <div class="card card-body">
                            {{ anime.synopsis }}
                        </div>
                    </div>
                </td>
                <td class="align-middle">{{ anime.duration }} mn</td>
                <td class="align-middle">
                    <button type="button" class="btn btn-primary">Voir plus</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<button id="pouet"> pouet</button>
    <div id="results"></div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#animeList").on("keyup", function() {
                let value = $(this).val().toLowerCase();
                $("#animTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
{% endblock %}

