{% extends 'base.html.twig' %}

{% block title %}Animes - Manga-K{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger mt-3 text-center">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
    {% endif %}
    <img src="/assets/images/anime/fiche/{{ anime.imageCardBlur }}" class="img-fluid" alt="absolut_duo_flou" id="flou_fiche_image">

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12 col-md-7 offset-1 fiche">
                <div class="row">
                    <img src="/assets/images/anime/fiche/{{ anime.imageCard }}" class="img-fluid" width="50000px" alt="absolut_duo">
                </div>
                <div class="row">
                    <div class="col-5 col-md-3 text-center pl-0">
                        {% for key, episodes in tab %}
                            <ul class="bg-light my-1 p-0">
                                <li class="text-dark">{{ key }}</li>
                            </ul>
                            <ul class="bg-secondary pl-1">
                                {% for episode in episodes %}
                                    <li><a href="{{ path('stream', {'name' : anime.name, 'EnCourSeason' : key | replace({'Saison ' : ''}), 'EnCourEpisode' : episode }) }}" class="text-light">{{ episode | replace ({'.mp4': ''}) }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-md-9 py-1 pr-1 pl-0">
                        <video width="100%" controls>>
                            <source src="/assets/video/upload/anime/{{ anime.name }}/Saison {{ EnCourSeason }}/{{ EnCourEpisode }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <hr>
                        <div class="row ml-4 mb-5">
                            <button type="button" class="btn btn-warning h  col-5" style="border-radius: 15px;" onclick="location.href = '{{ path('animes') }}'"><h4 class="p-0 m-0">Retour</h4></button>
                            <h4 class="text-center pt-2 mb-0 col-5 offset-1 bg-secondary h" style="border-radius: 15px; border: none">Commentaires</h4>
                        </div>
                        {% if currentComment %}
                            {% for comment in currentComment %}
                                <div class="row align-items-center bg-secondary">
                                    <div class="col-3 pl-0"><img src="/assets/images/upload/{{ comment.user.picture }}" class="img-fluid" width="auto" alt="user_avatar"></div>
                                    <div class="col-9" style="font-size: 15px">
                                        <div class="row justify-content-start">
                                            <div class="col-2">
                                                <strong><a style="cursor:pointer" onclick="window.location.href = '{{ path('user_account') }}'" id="FicheUser">{{ comment.user.username }}</a></strong>
                                            </div>
                                            <div class="col-6 text-primary">
                                                {{ comment.datetime | date('Y-m-d à H:i:s') }}
                                            </div>
                                        </div>
                                        <div class="row pt-4">
                                            <div class="col-12 m-0 commentaires">{{ comment.comment | raw }}</div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        {% endif %}
                        {% if app.user %}
                            <div class="my-2" id="newComment">
                                {{ form_start(formComment) }}
                                {{ form_row(formComment.comment) }}
                                <button type="submit" class="btn btn-primary">Commenter</button>
                                {{ form_end(formComment) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 offset-1 ml-2 fiche p-0">
                <h4 class="text-center pb-2 mb-0 bg-secondary Synopsis">Synopsis</h4>
                <div class="card-header mt-0 p-0 bg-transparent">
                    <h1 class="text-center">{{ anime.name }}</h1>
                </div>
                <div class="card-body text-primary">
                    <p class="card-text text-justify">{{ anime.synopsis }}</p>
                </div>
                <div class="card-footer bg-transparent"></div>
                <h4 class="text-center pb-2 bg-secondary Synopsis">Genre</h4>
                <div>
                    <ul>
                        {% for type in anime.type %}
                            <li>
                                <span class="badge badge-pill badge-primary">{{ type.name }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $("#newComment").submit(function(e){
// ! il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même !
            e.preventDefault();

            let form = $(e.target);
            let comment = 'Vous avez laissé un commentaire !';

// !!!!!!!!!!!!!!!!!   ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de donnée dans la db   !!!!!!!!!!!!!!!!
            form.ajaxSubmit({
                type: 'post',
                success: function(data) {
                    if (data === 'success') {
                        window.location.href = '{{ path('stream', {'name' : anime.name, 'EnCourSeason' : EnCourSeason | replace({'Saison ' : ''}), 'EnCourEpisode' : EnCourEpisode }) }}';
                    }
                }
            });
        });
    </script>
    <script>
        $('.commentaires p').css('margin-bottom', '0')
    </script>

{% endblock %}

