{% extends 'base.html.twig' %}

{% block title %}Manka-K Compte{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="alert alert-dismissible alert-success badFlash col-8 offset-2 mb-5" id="goodFlash" align="center">
                <strong id="name">p</strong>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-10 offset-1" align="center">
                <div class="card text-white bg-secondary mb-3 account">
                    <h2 class="card-header bg-primary accountHead" style="color: white">Compte de {{ admin.username }}</h2>
                    <div class="card-body"  style="color: white">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <div class="jumbotron">
                                    <h4 class="card-title">Pseudo</h4>
                                    <div>{{ admin.username }}</div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="jumbotron">
                                    <h4 class="card-title">E-Mail</h4>
                                    <div>{{ admin.mail }}</div>
                                </div>
                            </div>
                        </div>
                            <div>
                                {% if admin.roles[0] == 'ROLE_ADMIN' %}
                                    <button type="button" class="btn btn-outline-danger btn-lg h col-3" id="buttonSwitch" data-target="#switchInf" data-toggle="modal">Rétrograder au rang d'utilisateur</button>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if admin.roles[0] == 'ROLE_ADMIN' %}
                                        <button type="button" class="btn btn-outline-primary btn-lg h col-3 offset-1" id="buttonSwitchSup" data-target="#switchSup" data-toggle="modal">Promouvoir au rang de Super Admin</button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-danger btn-lg h col-4" id="buttonSwitchSup" data-target="#switchSup" data-toggle="modal">Rétrograder au rang d'administrateur</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!   Modal de switch role   !!!!!!!!!!!!!!!!!!!!!!!!! -->

                        <div class="modal fade" id="switchInf" tabindex="-1" role="dialog" aria-labelledby="del" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="text-primary">Rétrogradation de {{ admin.username }} au rang d'utilisateur</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes vous certain de vouloir basculer cet administrateur en utilisateur ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ path('switch_role', { 'id' : admin.id}) }}">
                                            <button type="submit" class="btn btn-primary" id="switchUser">Confirmer</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!   Modal de switch role Super_Admin   !!!!!!!!!!!!!!!!!!!!!!!!! -->

                        <div class="modal fade" id="switchSup" tabindex="-1" role="dialog" aria-labelledby="del" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        {% if admin.roles[0] == 'ROLE_ADMIN' %}
                                            <h5 class="text-primary">Promotion de {{ admin.username }} au rang de Supe Admin</h5>
                                        {% else %}
                                            <h5 class="text-primary">Rétrogradation de {{ admin.username }} au rang d'admin</h5>
                                        {% endif %}
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% if admin.roles[0] == 'ROLE_ADMIN' %}
                                            <p>Êtes vous certain de vouloir basculer cet administrateur en Super Administrateur ?</p>
                                            <p>Il auras les pleins pouvoirs !</p>
                                        {% else %}
                                            <p>Êtes vous certain de vouloir basculer ce Super Admin en administrateur ?</p>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ path('switch_role_sup', { 'id' : admin.id}) }}">
                                            <button type="submit" class="btn btn-primary" id="switchAdm">Confirmer</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <button type="button" class="btn btn-primary btn-lg h col-3" onclick="location.href = '{{ path('admin_list') }}'">Retour</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {% if app.user.id == admin.id %}
    <script>
        $(document).ready(function () {
            window.location = '{{ path('my_admin_account') }}'
        })
    </script>
    {% endif %}
    <script>
        $(document).submit(function(e){
// ! il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même !
            e.preventDefault();
            let role = 'L\'administrateur ' + '<strong>' + '{{ admin.username }}' + '<strong>' + ' a été rétrogradé !';
            let roleSup = 'L\'administrateur ' + '<strong>' + '{{ admin.username }}' + '<strong>' + ' est maintenant Super Admin !';

            $form = $(e.target);
            let modalR = $('#switchInf');
            let modalS = $('#switchSup');

            let $submitButton = $form.find(':submit');
            $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
            $submitButton.prop('disabled', true);

// !!!!!!!!!!!!!!!!!   ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de donnée dans la db   !!!!!!!!!!!!!!!!
            $form.ajaxSubmit({
                type: 'post',
                success: function(data) {

                    modalR.modal('hide');
                    modalS.modal('hide');

                    if(data === 'switch') {
                        (document.querySelector('#name')).innerHTML = role;

                        let buttonSwitch = $('#buttonSwitch');
                        buttonSwitch.html('<i class="fas fa-spinner fa-pulse"></i>');
                        buttonSwitch.prop('disabled', true);

                        window.setTimeout(function () {
                            $('#goodFlash').toggleClass('badFlash').toggleClass('goodFlash').removeClass('alert-danger').addClass('alert-success');
                            window.setTimeout(function () {
                                $('#goodFlash').toggleClass('goodFlash').toggleClass('goodFlash2');
                                window.setTimeout(function () {
                                    $('#goodFlash').toggleClass('goodFlash2').toggleClass('badFlash2');
                                    $submitButton.html('Bad Boy');
                                    buttonSwitch.html('Bad Boy');
                                    window.setTimeout(function () {
                                        $('#goodFlash').toggleClass('badFlash2').toggleClass('badFlash');
//   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Redirection vers la liste d'user quand on switchRole   !!!!!!!!!!!!!!!!!!!
                                        window.setTimeout(function () {
                                            window.location.href = '{{ path('admin_list') }}'
                                        }, 500);
                                    }, 500);
                                }, 3000);
                            }, 500);
                        });

                    } else {

                        (document.querySelector('#name')).innerHTML = roleSup;

                        let buttonSwitch = $('#buttonSwitchSup');
                        buttonSwitch.html('<i class="fas fa-spinner fa-pulse"></i>');
                        buttonSwitch.prop('disabled', true);

                        window.setTimeout(function () {
                            $('#goodFlash').toggleClass('badFlash').toggleClass('goodFlash').removeClass('alert-danger').addClass('alert-success');
                            window.setTimeout(function () {
                                $('#goodFlash').toggleClass('goodFlash').toggleClass('goodFlash2');
                                window.setTimeout(function () {
                                    $('#goodFlash').toggleClass('goodFlash2').toggleClass('badFlash2');
                                    $submitButton.html('Good Boy');
                                    buttonSwitch.html('Good Boy');
                                    window.setTimeout(function () {
                                        $('#goodFlash').toggleClass('badFlash2').toggleClass('badFlash');
//   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   Redirection vers la liste d'user quand on switchRole   !!!!!!!!!!!!!!!!!!!
                                        window.setTimeout(function () {
                                            window.location.href = '{{ path('admin_list') }}'
                                        }, 500);
                                    }, 500);
                                }, 3000);
                            }, 500);
                        });

                    }
                }
            });

        });
    </script>
{% endblock %}
