{% extends 'base.html.twig' %}

{% block title %}Manka-K Compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="alert alert-dismissible alert-success badFlash col-8 offset-2 mb-5 mt-5" id="goodFlash" align="center">
                <strong id="name">p</strong>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-10 offset-1" align="center">
                <div class="card text-white bg-secondary mb-3 newAnime">
                    <h2 class="card-header bg-primary newAnimHead" style="color: white">Ajout d'un animé</h2>
                    <div class="card-body"  style="color: white">
                        {{ form_start(formAnime) }}
                        <div class="row">
                            <div class="col-5">
                                <h4 class="card-title">Nom</h4>
                                {{ form_row(formAnime.name, { 'id': 'animName', 'attr': {'style': 'border-radius: 5px'}}) }}
                            </div>
                            <div class="col-5">
                                <h4 class="card-title">Lien vers l'image</h4>
                                {{ form_row(formAnime.image, { 'attr': {'class': 'col-12', 'style': 'border-radius: 5px'}}) }}
                            </div>
                            <div class="col-2">
                                <h4 class="card-title">Durée</h4>
                                {{ form_row(formAnime.duration, { 'attr': {'class': 'col-8', 'style': 'border-radius: 5px'}}) }}
                            </div>
                        </div>
                        <h4 class="card-title">Synopsis</h4>
                        {{ form_row(formAnime.synopsis, { 'attr': {'style': 'border-radius: 5px'}}) }}
                        <div class="form-group">
                            <h4 class="card-title">Genre(s)</h4>
                            <div class="col-12" align="center">
                                {{ form_row(formAnime.type, { 'attr': {'class': 'col-12', 'style': 'display: inline-flex;flex-direction: row; justify-content: space-between'}}) }}
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning h col-3" onclick="location.href = '{{ path('animes') }}'">Retour</button>
                        <button type="submit" class="btn btn-primary buttonSize h col-3 offset-3" id="ajaxButton">Créer</button>
                        {{ form_end(formAnime) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).submit(function(e){
// ! il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même !
            e.preventDefault();

            let form = $(e.target);
            let name = '<strong>' + $('#animName').val() + '<strong>' + ' ajouté avec succès !';
            let dopple = 'Cet animé est déjà enregistré.';

// !!!!!!!!!!!!!!!!!   ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de donnée dans la db   !!!!!!!!!!!!!!!!
            form.ajaxSubmit({
                type: 'post',
                success: function(data) {
                    if (data === 'success') {

//   !!!!!!!!!!!!!!!!!!!   Changement de l'opacity du flash avec deux effet en setTimeout   !!!!!!!!!!!!!!!!!!!!!!!

                        (document.querySelector('#name')).innerHTML = name;
                        window.setTimeout(function () {
                            $('#goodFlash').toggleClass('badFlash').toggleClass('goodFlash').removeClass('alert-warning').addClass('alert-success');
                            window.setTimeout(function () {
                                $('#goodFlash').toggleClass('goodFlash').toggleClass('goodFlash2');
                                window.setTimeout(function () {
                                    $('#goodFlash').toggleClass('goodFlash2').toggleClass('badFlash2');
                                    window.setTimeout(function () {
                                        $('#goodFlash').toggleClass('badFlash2').toggleClass('badFlash');
                                    }, 500);
                                }, 3000);
                            }, 500);
                        });
                    } else {

//   !!!!!!!!!!!!!!!!!!!   Changement de l'opacity du flash avec deux effet en setTimeout   !!!!!!!!!!!!!!!!!!!!!!!

                        (document.querySelector('#name')).innerHTML = dopple;
                        window.setTimeout(function () {
                            $('#goodFlash').toggleClass('badFlash').toggleClass('goodFlash').removeClass('alert-success').addClass('alert-warning');
                            window.setTimeout(function () {
                                $('#goodFlash').toggleClass('goodFlash').toggleClass('goodFlash2');
                                window.setTimeout(function () {
                                    $('#goodFlash').toggleClass('goodFlash2').toggleClass('badFlash2');
                                    window.setTimeout(function () {
                                        $('#goodFlash').toggleClass('badFlash2').toggleClass('badFlash');
                                    }, 500);
                                }, 3000);
                            }, 500);
                        });
                    }

                }
            });

        });
    </script>
{% endblock %}
